include layout 


h1 demo node.js

.container
  form(method='post' , action='contact/send')
    h2.form-signin-heading Contact Us
    
    label.sr-only(for='inputEmail') Name
    input#inputEmail.form-control(type='text', placeholder='Name', required='', name='name', autofocus='')
    br
    label.sr-only(for='inputPassword') Email
    input#inputPassword.form-control(type='email', placeholder='Email', name='email', required='')
    br
    label.sr-only(for='inputPassword') Message
    input#inputPassword.form-control(type='text', placeholder='Message', required='', name='message')
    
    .checkbox
      label
     
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Send
// /container
