include layout

block layout
    h1 Signup
  form(method='post',action='/users/register',enctype='multipart/form-data')
  .form-group
    label(for='exampleInputEmail1') Name
    input#exampleInputEmail1.form-control(name='name',type='email', placeholder='Email')
  .form-group
    label(for='exampleInputEmail1') Email 
    input#exampleInputEmail1.form-control(name='email',type='email', placeholder='Email')
  .form-group
    label(for='exampleInputEmail1') Username
    input#exampleInputEmail1.form-control(name='username',type='email', placeholder='Username')
  
  .form-group
    label(for='exampleInputPassword1') Password
    input#exampleInputEmail1.form-control(name='password',type='email', placeholder='Username')
    
   .form-group
    label(for='exampleInputPassword1') Enter   
    input#exampleInputEmail1.form-control(name='repassword',type='email', placeholder='Username')
    
    
  .form-group
    label(for='exampleInputFile') File input
    input#exampleInputFile(type='file', name='profileimage')
    p.help-block Example block-level help text here.
  .checkbox
    label
      input(type='checkbox')
      |  Check me out
  button.btn.btn-default(type='submit', name='submit') Register
